section.about 
    .container 
        .title.title-with-bottom-line
            h2.title-header About us
            .title-text We are added our major services 
        
        ul.about_list 
            li.about_item 
                .icon.icon-like
                h3.about_header Facebook Marketing
                p.about_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur assumenda quos ipsa repudiandae nam doloremque nisi. Accusamus quidem aliquid at possimus. Nulla, laboriosam odio pariatur repudiandae ipsum dolore beatae.

            li.about_item 
                .icon.icon-book
                h3.about_header Landing pages creation
                p.about_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur assumenda quos ipsa repudiandae nam doloremque nisi. Accusamus quidem aliquid at possimus. Nulla, laboriosam odio pariatur repudiandae ipsum dolore beatae.

            li.about_item 
                .icon.icon-message
                h3.about_header Ads management
                p.about_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur assumenda quos ipsa repudiandae nam doloremque nisi. Accusamus quidem aliquid at possimus. Nulla, laboriosam odio pariatur repudiandae ipsum dolore beatae.