section.approach 
    .container 
        .title.title-with-bottom-line
            h2.title-header Our Approch
            .title-text Check approches step by step (how we do it)


        ul.approach_list 
            li.approach_item 
                .approach_image
                    img.approach_picture(src="../images/step-1.jpg")
                    .approach_step step 
                .approach_text
                    .approach_title Step 1: Heading Here
                    p.approach_description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perferendis necessitatibus quidem nemo deleniti eligendi quas officiis. Ad nam sed nobis illo itaque, doloribus reiciendis perspiciatis voluptatum aliquid, dignissimos inventore?
            
            li.approach_item 
                .approach_image
                    img.approach_picture(src="../images/step-2.jpg")
                    .approach_step step 
                .approach_text
                    .approach_title Step 2: Heading Here
                    p.approach_description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perferendis necessitatibus quidem nemo deleniti eligendi quas officiis. Ad nam sed nobis illo itaque, doloribus reiciendis perspiciatis voluptatum aliquid, dignissimos inventore?
            
            li.approach_item 
                .approach_image
                    img.approach_picture(src="../images/step-3.jpg")
                    .approach_step step 
                .approach_text
                    .approach_title Step 3: Heading Here
                    p.approach_description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perferendis necessitatibus quidem nemo deleniti eligendi quas officiis. Ad nam sed nobis illo itaque, doloribus reiciendis perspiciatis voluptatum aliquid, dignissimos inventore?

            li.approach_item 
                .approach_image
                    img.approach_picture(src="../images/step-4.jpg")
                    .approach_step step 
                .approach_text
                    .approach_title Step 4: Heading Here
                    p.approach_description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perferendis necessitatibus quidem nemo deleniti eligendi quas officiis. Ad nam sed nobis illo itaque, doloribus reiciendis perspiciatis voluptatum aliquid, dignissimos inventore?