.contacts 
            a.contact(href="+3050123456789")
                i.fa-solid.fa-mobile-screen-button.contact_icon
                span.contact__text +38 050 123456789
            a.contact(href="mailto:vlevchenko087@gmail.com")
                i.fa.fa-envelope.contact__icon.contact__icon-email.contact_icon
                span.contact__text vlevchenko087@gmail.com

            a.facebook-icon(href="facecook.com")
                i.fa.fa-facebook