section.form-section
    .container 
        .title
            h2.title-header Get Your Free Facebook Analysis Now
            .title-text Enter your details below

        .btn-down 
            a.arrow-down 
                i.fa.fa-angle-down

        .form-container.is-hidden 
            form(action="#" method="post").form
                button(type="button").form_close-button X 
                .form_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, unde optio consequuntur vel vitae laborum nisi? Facilis culpa vitae excepturi eveniet earum illo est, distinctio nam nesciunt consectetur placeat dolore.

                .form_fields
                    input.form_input(type="text" placeholder="Your Name")
                    input.form_input(type="text" placeholder="Contact Number")
                    input.form_input(type="text" placeholder="Contact Name")

                button(type="submit").button.button-red.button-text-uppercase Submit Now
                    
            
