section.work 
    .container 
        .title.title-with-bottom-line
            h2.title-header Our Work
            .title-text We are added our featured works below

        ul.work_list 
            li.work_item.work_item-name 
                .work_name Project name 
                .work_description Facebook marketing 
            
            li.work_item 
                img.work_picture(src="images/work-1.jpg")

            li.work_item.work_item-name 
                .work_name Project name 
                .work_description Landing page 
            
            li.work_item 
                img.work_picture(src="images/work-2.jpg")
            
            li.work_item 
                img.work_picture(src="images/work-3.jpg")

            li.work_item.work_item-name 
                .work_name Project name 
                .work_description Facebook marketing 
            
            
            li.work_item 
                img.work_picture(src="images/work-4.jpg")
            
            li.work_item.work_item-name 
                .work_name Project name 
                .work_description Landing page  
            